* {
	margin: 0;
	padding: 0;
}
.weatherApp {
}
header {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

header .search-bar {
	display: inline-flex;
}
.changeUnit {
	font-weight: bold;
	/*background-color: #03364c;*/
	color: white;
	padding-left: 7px;
}
.current-weather {
	color: white;
	border: 1px solid #dadde1;
	border-radius: 8px;
	padding: 15px 20px;
}
#mainData {
	margin: 20px auto;
}
#mainData img {
	height: 60px;
	margin-right: 10px;
}
#mainData .temp {
	font-size: 60px;
	font-weight: 500;
	line-height: 0.8;
}
#mainData .unit {
	position: relative;
	top: -25px;
	font-size: 25px;
}
#mainData .weatherDesc {
	margin-left: 80px;
}
#mainData .description {
	font-weight: bold;
}
#infoSen {
	margin: 15px auto 20px;
}
.category {
	font-weight: lighter;
	font-size: small;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
